<a href="https://colab.research.google.com/github/mardzyuba/Faker/blob/master/lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Задание 1.

In [3]:
df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [4]:
df = df.loc[df['Quantity'] > 0]
df = df.dropna(subset=['CustomerID'])

# Задание 2.

Создайте матрицу item-customer (по строкам - товары, по столбцам - покупатели)

In [5]:
StockCode_item_matrix = df.pivot_table(index='StockCode', columns='CustomerID', values='Quantity', aggfunc='sum')
StockCode_item_matrix.head()

CustomerID  12346.0  12347.0  12348.0  ...  18282.0  18283.0  18287.0
StockCode                              ...
10002           NaN      NaN      NaN  ...      NaN      NaN      NaN
10080           NaN      NaN      NaN  ...      NaN      NaN      NaN
10120           NaN      NaN      NaN  ...      NaN      NaN      NaN
10125           NaN      NaN      NaN  ...      NaN      NaN      NaN
10133           NaN      NaN      NaN  ...      NaN      NaN      NaN

[5 rows x 4339 columns]

In [6]:
StockCode_item_matrix.shape

(3665, 4339)

In [7]:
df['CustomerID'].nunique()

4339

In [8]:
df['StockCode'].nunique()

3665

In [9]:
StockCode_item_matrix = StockCode_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
StockCode_item_matrix.head()

CustomerID  12346.0  12347.0  12348.0  ...  18282.0  18283.0  18287.0
StockCode                              ...
10002             0        0        0  ...        0        0        0
10080             0        0        0  ...        0        0        0
10120             0        0        0  ...        0        0        0
10125             0        0        0  ...        0        0        0
10133             0        0        0  ...        0        0        0

[5 rows x 4339 columns]

# Задание 3.

Проведите оценку мер близости товаров, получив матрицу item_item_sim_matrix со значениями косинусов между векторами товаров.

In [10]:
from scipy.sparse import csr_matrix

In [11]:
mat = StockCode_item_matrix.values
mat

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

In [12]:
def cos_sim(array):
  
  csr_array = csr_matrix(array)
  numerator = np.dot(csr_array,csr_array.T).toarray()
  denomenator = np.linalg.norm(array, axis = 1, keepdims = True)*np.linalg.norm(array.T, axis = 0, keepdims = True)
  return numerator / denomenator

In [13]:
user_user_sim_matrix = cos_sim(mat)
user_user_sim_matrix

array([[1.        , 0.        , 0.09486833, ..., 0.06691496, 0.        ,
        0.07821652],
       [0.        , 1.        , 0.        , ..., 0.01618174, 0.        ,
        0.        ],
       [0.09486833, 0.        , 1.        , ..., 0.07053456, 0.        ,
        0.01099299],
       ...,
       [0.06691496, 0.01618174, 0.07053456, ..., 1.        , 0.        ,
        0.0775386 ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.07821652, 0.        , 0.01099299, ..., 0.0775386 , 0.        ,
        1.        ]])

In [14]:
user_user_sim_matrix = pd.DataFrame(user_user_sim_matrix)

user_user_sim_matrix.columns = StockCode_item_matrix.index

user_user_sim_matrix['StockCode'] = StockCode_item_matrix.index
user_user_sim_matrix = user_user_sim_matrix.set_index('StockCode')

user_user_sim_matrix.head()

StockCode     10002     10080     10120  ...         M      PADS      POST
StockCode                                ...
10002      1.000000  0.000000  0.094868  ...  0.066915  0.000000  0.078217
10080      0.000000  1.000000  0.000000  ...  0.016182  0.000000  0.000000
10120      0.094868  0.000000  1.000000  ...  0.070535  0.000000  0.010993
10125      0.090351  0.032774  0.057143  ...  0.070535  0.000000  0.070669
10133      0.062932  0.045655  0.059702  ...  0.070185  0.049752  0.021877

[5 rows x 3665 columns]

# Задание 4.

Отберите ТОП-10 похожих товаров по StockCode.
Возьмем товар 10002

In [15]:

top = user_user_sim_matrix.loc[10002].sort_values(ascending=False).head(10)

top

StockCode
10002     1.000000
90103     0.223607
21826     0.197642
90059E    0.182574
90059C    0.182574
90101     0.182574
90059B    0.182574
90059F    0.182574
16010     0.182574
84535A    0.181369
Name: 10002, dtype: float64

In [ ]:
items_bought_by_top = top[top>0].index.tolist()

In [18]:
df.loc[df['StockCode'].isin(items_bought_by_top ), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                   Description
StockCode
10002              INFLATABLE POLITICAL GLOBE
90059B     DIAMANTE HAIR GRIP PACK/2 BLACK DIA
90059E          DIAMANTE HAIR GRIP PACK/2 RUBY
90059C       DIAMANTE HAIR GRIP PACK/2 MONTANA
21826                 EIGHT PIECE DINOSAUR SET
16010       FOLDING CAMPING SCISSOR W/KNIF & S
84535A           ENGLISH ROSE NOTEBOOK A6 SIZE
90059F       DIAMANTE HAIR GRIP PACK/2 LT ROSE
90101                WHITE FRANGIPANI NECKLACE
90103               PURPLE FRANGIPANI NECKLACE